{# templates/base-mgmt.j2 #}
!-------------------------------------------------------
! Base Management Configlet for {{ inventory_hostname }}
!-------------------------------------------------------
!
hostname {{ inventory_hostname }}
!
vrf instance {{ mgmt_vrf }}
dns domain {{ domain_name }}
!
interface Management1
   desc Management
   vrf {{ mgmt_vrf }}
   ip address {{ mgmt_ip }}
!
{# Calculate Gateway - 1st address in subnet #}
ip route vrf {{ mgmt_vrf }} 0.0.0.0/0 {{ mgmt_ip | ipaddr('1') }}
!
no ip routing vrf {{ mgmt_vrf }}
!
